* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body{
  background: rgb(37, 49, 57);
}


.square_wrapper{
  height: 800px;
  width: 800px;
  background: red;
  margin: 50px auto;
  border: 1px solid white;
}

.line_square{
  height: calc(100% / 8);
  width: 100%;
  background: yellow;
}

.square{
  height: 100%;
  width: calc(100% / 8);
  background: orange;
  float: left;
  border: 1px solid white;
  cursor: pointer;
}

.box_contatore{
  height: 50px;
  width: 800px;
  background: red;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contatore_verdi{
  height: 100%;
  width: 50%;
  background: white;
  float: left;
  border-top: 2px solid green;
  border-right: 1px solid lightgrey;
  text-align: center;
  line-height: 50px;
}

.contatore_rossi{
  height: 100%;
  width: 50%;
  background: white;
  float: left;
  border-top: 2px solid red;
  text-align: center;
  line-height: 50px;
}
